*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
}

a{
  color: inherit;
}

/* ========== container =========== */
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;

  
}
/* ========== container =========== */
/* ========== header =========== */

.header {
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;

}
.logo {
  margin-left: 16px;
}
.logo__img {
}
.menu {
  margin-top: 16px;
}
.menu__list {
  display: flex;

}

.menu__item {
 
}

.menu__item + .menu__item {
  margin-left: 30px;
}

.menu__link {
   font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-transform: uppercase;
  /* фирменный синий */
  color: #001E64;
}

.menu__link:hover{
  border-bottom: 1px solid #001E64;
}

.phone {
  margin-top: 11px;
  margin-right: 42px;
}
.phone__img {
}
/* ========== header =========== */

/* ========== header-content =========== */
.header__content {
  background-image: url(../images/font.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  margin-top: -100px;
  min-height: calc(100vh - 50px);
}

.title {
  max-width: 589px;
  margin-bottom: 60px;
  padding-top: 170px;
  padding-left: 112px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  /* синий */
  color: #001E64;
}

.content-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 57px;
  padding-bottom: 135px;
}
.header-slider__title {
}
.header-slider__text {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.header__content-btn {
  display: inline-block;
  margin-left: 112px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 14px 88px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  transform: translateY(-100px);
  position: absolute;
 
}
.header__content-box {
  display: flex;
  margin-left: 100%;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}


.header__coontent-link {
}
.header__coontent-link--active {
  font-weight: 700;
}
/* ========== header-content =========== */
/* ========== header-slider =========== */
.slick-prev,
.slick-next{
  position: absolute;
  left: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}


.slick-prev{
  top: 0;
}

.slick-next{
  bottom: 0;
}


/* .slick-next:hover,
.slick-prev:hover{
box-shadow: 10px 5px 5px red;
} */


.slick-dots{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 35px;
  top: 56px;
  bottom: 56px;
  list-style: none;
 
}

.slick-dots button{
 
  border: none;
  background-color: transparent;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  opacity: 0.5;
  cursor: pointer;
  color: #FFFFFF;
}

.slick-dots button::before{
  content: '0';
 
}

.slick-active button{ 
  opacity: 1;
}
/* ========== header-slider =========== */
/* ========== main-product =========== */
.main {
}
.product {
  margin-top: 100px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}
.product__name {
  width: 510px;
  text-align: center;
  padding-top: 40px;
}

.product-prev{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-prev,
.product-next{
  border: none;
  background-color: transparent;
  padding: 0;
   cursor: pointer;
}

.product_name-item{
  font-family: Roboto Slab, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
   cursor: pointer;
 
}

.product_name-item.slick-current{
  font-weight: bold;
  font-size: 36px;
  color: #001E64;
}

.product_name-item + .product_name-item {
  margin-top: 30px;
}
.product__content {
  width: 600px;
}
.probuct__content-element {
}
.product__content-box {
  display: flex;
  justify-content: space-between;

}
.product__content-img {
  object-fit: cover;
}
.product__content-item {
  width: 291px;
  list-style: none;
}
.product__content-list {
  margin-bottom: 30px;
}

.product__content-list span {
  font-family: Roboto Slab, serif;
  display: block;
  margin-bottom: 10px;
  color: #001E64;
}
.product__content-title {
  font-family: Roboto Slab, serif;
  padding-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #001E64;
}
.product__content-text {
  margin-bottom: 20px;
}

.product__content-btn {
}
/* ========== main-product =========== */


